.nav.navbar-nav.drawer-menu {
  overflow-y: auto;
  flex: 1 1 auto;
  height: 0;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.navbar.fixed-top.off-canvas > div[class*="container-"] {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 0;
  padding-left: 0;
  height: 100%;
  align-content: space-between;
}

.navbar.fixed-top.off-canvas .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 576px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

